// scss-lint:disable QualifyingElement
hr.transparent {
  border-top: 1px solid transparent;
}

.popover-title {
    padding: 8px 14px;
    margin-bottom: 0;
    font-size: 0.875rem;
    color: white;
    background-color: #0b286e;
    border-bottom: 1px solid #ebebeb;

}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #0b286e;
    border-color: #0b286e;
}