.dw-ipassword {

  .require-list {

    padding: 5px 0 5px 0;

    font-size: 0.8em;
    line-height: 1.6;

    .valid {
      color: rgba(0,100,0,.5);
      text-decoration: line-through;
    }

  }

}